@{
    ViewData["Title"] = "Home Page";
}

@model UpdateResxFile.Models.LanguageComponentResourcesModel;


@using (Html.BeginForm("Fetch1", "Home", FormMethod.Post, new {id = Model.PageNumber}))
{
    @Html.HiddenFor(m => m.Language)
    @Html.HiddenFor(m => m.Component)
    @Html.HiddenFor(m => m.PageNumber)
    <br />
    <div class="row">
        <h3 class="col-xs-offset-3 col-xs-3">
            @Html.Label(Model.Language)
        </h3>
        <h3 class="col-xs-3">
            @Html.Label(Model.Component)
        </h3>
    </div>
    
    <br />
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10" style="height:500px;overflow:auto;background-color:azure">
            @for (int i = 0; i < Model.ResourceModels.Count; i++)
            {
                <div class="row">
                    @Html.HiddenFor(it => it.ResourceModels[i].Key)
                    <div class="col-xs-6">
                        @Html.DisplayFor(it => it.ResourceModels[i].SourceStr)
                    </div>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(it => it.ResourceModels[i].DestinationStr, new { style = "min-width: 100%!important;" })
                    </div>
                    <hr />
                </div>
            }
        </div>
    </div>
    <br/>
    <div class="row">
        <h4 class="col-xs-4 col-xs-offset-4" style="text-align:center"> Page @(Model.PageNumber - 1)</h4>
    </div>
    <div class="row">
        <input class="btn-primary col-xs-4 col-xs-offset-4" type="submit" name="Save and Next" value="Save and Next" />
    </div>
    
    
}


